<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>

<body>

      <div>
        <h1>{{ groupName }}</h1>
        <h1>{{ name }}</h1>

          </small></p>
          <div class="content">
            {% for content in aboutMe %}
              <p>{{content}}<p>
            {% endfor %}
          </div>



      </div>
</body>

<body>
  <h2>For a multiplayer game, Try Pong against a friend</h2>
    <p><a href="https://replit.com/@ErickM19/Pong#ball_class.py"><img src="https://camo.githubusercontent.com/8c0795271066ae501849863a14a1510487be780b7c53e6a6e4f493588917652e/687474703a2f2f72696b616e697368752e6769746875622e696f2f696d616765732f63616e762e706e67" style="width:800px;height:500px;"></a></p>
    <h2>For a singleplayer game, Try playing Wordle</h2>
    <p><a href="https://replit.com/@AxelCortes/Wordle#main.py"><img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202201/wordle_og_1200x630-sixteen_nine.png?size=948:533" style="width:800px;height:500px;"></a></p>   
 </body>


