<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>{{ name }}</title>
</head>
<style>
     button {   
            background-image: url(   
'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTP6zIlxzaUIA_CPMpDXoJXporQUagBpwplwm3tUro3BQDZgNaa');   
            width: 230px;   
            height: 150px;       
        }   
  
input[type=text]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
</style>

<body>

      <div>
        <h1>{{ groupName }}</h1>
        <h1>{{ name }}</h1>

          </small></p>
          <div class="content">
            {% for content in aboutMe %}
              <p>{{content}}<p>
            {% endfor %}
          </div>



      </div>
</body>

<body>
    <p><a href="https://replit.com/join/fgyazaniam-axelcortes"><img src="https://camo.githubusercontent.com/8c0795271066ae501849863a14a1510487be780b7c53e6a6e4f493588917652e/687474703a2f2f72696b616e697368752e6769746875622e696f2f696d616765732f63616e762e706e67" style="width:800px;height:500px;"></a></p>
    <p><a href="https://replit.com/join/ybujnzjslt-axelcortes"><img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202201/wordle_og_1200x630-sixteen_nine.png?size=948:533" style="width:800px;height:500px;"></a></p>   
 </body>


